<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body>
  <%- include("../partials/navbar_user.ejs") %>

  <div id="main_card" class="container-fluid card">
    <div class="container d-flex justify-items-center">
        <div class="flex-column">
            <h1>Your Savings Account Overview:</h1>
            <div class="align-items-center">
              <% if (results.length > 0) {%>
                <div class="container-fluid">
                  <h3>Your Piggy Bank Balance:</h3>
                  <ul>$<%=results[0].current_allowance.toFixed(2).padStart(5,'0') %></ul>
                </div>
                <% } else { %>
                <div class="container-fluid">
                  <ul>Please create budget to start using app</ul>
                </div>
                <%}%>
              <% if (results.length > 0) {%>
                <div class="container-fluid">
                 
                  <h3>Your Savings Account Balance:</h3>
                  <ul>$<%=results[0].total_bank.toFixed(2).padStart(5,'0') %>
                  </ul>
                </div>
                <% } %>

                <div class="container-fluid">

                      <form action="/bank" method="POST">
                        <div class="form-group">
                          <label for="amount_bank">Amount to Send/Retrieve from your Savings Account:</label>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <% if (results.length > 0) {%>
                            <input type="number" class="form-control" id="amount_bank" name="amount_bank" placeholder="$ Amount" min="<%= results[0].total_bank * -1 %>"
                            max="<%= results[0].current_allowance %>" step=.01 autofocus required>
                            <% }  else { %>
                              <input type="number" class="form-control" id="amount_bank" name="amount_bank" placeholder="$ Amount" min=0
                              max=0 step=.01 autofocus required>
                              <%}%>

                        </div> 
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </form>
            
                      <% if (typeof response != "undefined" ) { %>
                        <h3>
                          <%= response %>
                        </h3>
                        <% } %>
                    </div>
            
                
            </div>
        </div>
        

    </div>
</div>


    
</body>

</html>